{% extends 'shop/base.html' %}

{% block title %}Tajflair — Главная{% endblock %}

{% block content %}
<h2>Каталог товаров</h2>

<div class="products-grid">
    {% for product in products %}
        <div class="product-card">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
            {% endif %}
            <div class="product-info">
                <h3 class="product-title">{{ product.name }}</h3>
                <p class="product-price">{{ product.price }} TJS</p>

                <form action="{% url 'cart_add' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-action">В корзину</button>
                </form>
            </div>
        </div>
    {% empty %}
        <p>Товары пока не добавлены.</p>
    {% endfor %}
</div>
{% endblock %}